repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id:  no-commit-to-branch
    args: ['--branch', 'master']
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/ambv/black
  rev: 20.8b1
  hooks:
  - id: black

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
