[GENERAL]
disable=R0205, F0010, C0330, E1136, E0401
output-format=colorized

[MASTER]
ignore=setup.py,version.py

# We allow a lot of "bad" variable names, because it is important to keep the link to the original formulas
[BASIC]
good-names=df,logger,h,l,e,t,SGFN,SWOF,SGOF,SLGOF,SOF3,SWFN,WOTABLE,GOTABLE,nw,ng,Ls,Es,Ts,Lf,Ef,Tf,Pcmax,Pcmin,Pct,add_LET_pc_pd,Lp,Ep,Tp,Lt,Et,Tt,add_LET_pc_pd,Lp,Ep,Tp,Lt,Et,Tt,cw,co,aw,ao,a,b,g,add_LET_water,add_LET_oil,add_LET_gas,add_LET_pc_imb,add_simple_J,add_normalized_J,add_simple_J_petro

[FORMAT]
max-line-length=88
max-module-lines=3000

[DESIGN]
max-args=10

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
