name: codecoverage
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.7'

    steps:
    - uses: actions/checkout@master

    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.7

    - name: Install pyscal and test dependencies
      run: |
        pip install pip -U
        pip install .[tests]
        pip install opm  # (extra package for more tests)

    - name: Generate coverage report
      run: |
        pytest tests --disable-warnings --cov=pyscal --cov-report=xml

    - name: Upload coverage to Codecov
      run: |
        bash <(curl -s https://codecov.io/bash)
